*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:rgba(255,255,255,0.05);
}

.navbar a{
  color:white;
  text-decoration:none;
  margin-left:15px;
}

.btn{
  background:#7c3aed;
  padding:10px 18px;
  border-radius:8px;
}

.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero-content h2{
  font-size:55px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:20px;
  color:#cbd5e1;
  margin-bottom:30px;
}

.hero-btn{
  background:#7c3aed;
  color:white;
  padding:14px 24px;
  border-radius:10px;
  text-decoration:none;
}

.features{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:50px 10%;
  flex-wrap:wrap;
}

.card{
  background:rgba(255,255,255,0.05);
  padding:30px;
  border-radius:15px;
  width:300px;
}
.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-form{
  width:350px;
  background:rgba(255,255,255,0.05);
  padding:40px;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.auth-form h2{
  text-align:center;
}

.auth-form input{
  padding:14px;
  border:none;
  border-radius:8px;
  outline:none;
}

.auth-form button{
  padding:14px;
  border:none;
  background:#7c3aed;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.auth-form p{
  text-align:center;
}

.auth-form a{
  color:#a78bfa;
}
/* DASHBOARD */

.dashboard{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:250px;
  background:#111827;
  padding:30px 20px;
}

.sidebar h2{
  margin-bottom:40px;
  color:#a78bfa;
}

.sidebar ul{
  list-style:none;
}

.sidebar ul li{
  margin:20px 0;
  cursor:pointer;
  color:#e5e7eb;
}

.main-content{
  flex:1;
  padding:30px;
}

.topbar{
  margin-bottom:30px;
}

.cards{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.dashboard-card{
  background:rgba(255,255,255,0.05);
  padding:30px;
  border-radius:15px;
  width:250px;
}

.dashboard-card h3{
  margin-bottom:10px;
}

.dashboard-card p{
  font-size:28px;
  color:#a78bfa;
}

.task-section{
  margin-top:40px;
  background:rgba(255,255,255,0.05);
  padding:30px;
  border-radius:15px;
}

.task-section ul{
  margin-top:20px;
}

.task-section li{
  margin:10px 0;
}
#logout-btn{

  width:100%;

  padding:10px;

  border:none;

  border-radius:8px;

  background:#ef4444;

  color:white;

  cursor:pointer;

  margin-top:20px;

}
#attendance-form{

  display:flex;

  gap:10px;

  margin-top:20px;

  flex-wrap:wrap;

}

#attendance-form input{

  padding:12px;

  border:none;

  border-radius:8px;

}

#attendance-form button{

  padding:12px 18px;

  border:none;

  background:#2563eb;

  color:white;

  border-radius:8px;

  cursor:pointer;

}

#attendance-list{

  margin-top:20px;

  list-style:none;

}

#attendance-list li{

  background:rgba(255,255,255,0.05);

  margin:10px 0;

  padding:15px;

  border-radius:10px;

  display:flex;

  justify-content:space-between;

  align-items:center;

}